<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>
<header>
    <a href="/"><img src="/sitelogo.png" id="sitelogo"></a>
    <ul class="menus">
        <li class="l" id="help"><a href="/help" target=”_blank”>使い方</a></li>
        <li class="l"><a href="/edit">エディット</a></li>
        <!--<li class="l"><a href="/save">コースロボット</a></li>
        <li class="r" id="signup"><a href="#">新規登録</a></li>
        <li class="r"><a href="#">ログイン</a></li>-->
    </ul>
</header>
<div class="help">
    <h1>使い方</h1>
    <h2>1.曲のBPMを入力</h2>
    <p>入力フォームに作りたい曲のBPMを入力すると、それに近いゲーム内で再現可能なBPMとそのBPMに対応した移動手段が表示されます。</p>
    <h2>2.ゲームスキンを選択</h2>
    <p>使用したいゲームスキンを選択してください。選択したスキンに応じてそのスキンで使用可能なパーツが表示されます。</p>
    <h2>3.パーツを設置</h2>
    <p>パーツをクリックすると選択します。エディット画面をクリックすると、選択中のパーツに応じて楽器が表示されます。</p>
    <h2>4.再生</h2>
    <p>1で入力したBPMに応じてエディット画面の通りに左から再生されます。</p>
    <h2>5.その他</h2>
    <p>エディット画面は1マス16分音符になっています。
    <p>和音は4音(縦1列に4音)までの対応です。</p>
    <p>小節の表をクリックするとクリックした小節までスクロールされます</p>
    <p>消しゴムを選択するとクリックしたところを消すことができます。</p>
    <p>全消しをクリックするとエディット中の画面を全て消します。</p>
    <p>即座に音を鳴らすのが困難なパーツは除外してあります。</p>
</div>
