<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>
<header>
    <a href="/"><img src="/sitelogo.png" id="sitelogo"></a>
    <ul class="menus">
        <li class="l"><a href="/help">使い方</a></li>
        <li class="l"><a href="/edit">エディット</a></li>
        <li class="l" id="save"><a href="/save">コースロボット</a></li>
        <li class="r" id="signup"><a href="#">新規登録</a></li>
        <li class="r"><a href="#">ログイン</a></li>
    </ul>
</header>
<div class="save">
    <h1>保存済みデータだよ</h1>
    <h1>だよ</h1>
</div>