<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>
<header>
    <a href="/"><img src="/sitelogo.png" id="sitelogo"></a>
    <ul class="menus">
        <li class="l"><a href="/help">使い方</a></li>
        <li class="l"><a href="/edit">エディット</a></li>
        <!--<li class="l"><a href="/save">コースロボット</a></li>-->
        <!--<li class="r" id="signup"><a href="#">新規登録</a></li>-->
        <!--<li class="r"><a href="#">ログイン</a></li>-->
    </ul>
</header>
<div class="main">
    <h1><a href="/edit">エディット画面へ</a></h1>
    <!--<h1>演奏コースが作りたい！</h1>
    <h1>自分で作ろう！</h1>-->
    
</div>