// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#sitelogo {
    margin: 10px 0px 10px 40px;
    height: 100px;
}

header {
    z-index: 10;
    height: 200px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

header li {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 25px;
    padding: 0 50px;
    list-style: none;
}

.menus a {
    text-decoration: none;
    color: black;
}

.menus a:hover {
    opacity: 0.7;
}

.l {
    float: left;
}

.r {
    float: right;
}

.edit{
    height: 1450px;
}
#signup {
    padding-right: 50px;
}

.main {
    background-color: #facd00;
    height: 56vh;
}

.main {
    font-size: 45px;
    text-align: center;
    padding: 5% 0;
}

#edit,
#help,
#save {
    padding-bottom: 20px;
    border-bottom: 4px solid;
}
.items-list {
    display: none;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 71.7vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 2px solid;
    border-color: lightgray;
}

.items-list li {
    float: left;
}

.show-list {
    display: block;
}

.edit_table1 {
    z-index: 5;
    padding: 90px 0;
    position: absolute;
    top: 26vw;
    right: 2%;
}
.surface {
    background-color: black;
    color: white;
}
.edit_table1 table {
    border-collapse: collapse;
    border: 2px solid;
}

.edit_table1 td {
    text-align: center;
    height: 2vw;
    width: 1.4vw;
    min-width: 2%;
    border: 2px solid;
}
.edit_table2 {
    margin-top: 0.2%;
}

.piano_table {
    margin-left: 15%;
    border-collapse: collapse;
    border: 3px solid;
    border-left: 1px solid;
}

.piano_table td {
    text-align: center;
    font-size: 0.2em;
    border: 2px solid;
    border-color: dimgrey;
    height: 6.2vh;
    width: 3.4vw;
    min-width: 3.4vw;
}

#piano {
    position: absolute;
    top: 0%;
    height: 84.7em;
    left: 3vw;
    background-color: white;
}

.piano {
    position: relative;
    margin-top: 2%;
}

.opsions {
    position: absolute;
    z-index: 300;
    right: 3%;
    top: 0%;
}
.tools {
    position: absolute;
    left: 1070px;
    top: 40%;
}

.opsions input {
    width: 15vw;
    height: 1.2vw;
}

.gameskin {
    list-style: none;
    padding: 5px;
    float: left;
}
.sidebar.fixed{
    position: fixed;
}

.object_btn {
    display: none;
}
.selecting {
    display: inline-block;
    background-color: red;
}

.cansee {
    display: block;
}

.selecting2 {
    background-color: red;
}

button.buttons1 {
    background-color: lightblue;
    height: 8vh;
    width: 5vw;
    font-size: 1em;
    margin-left: 28px;
}

button.buttons1:hover {
    background-color: blue;
}

button.buttons2 {
    background-color: orange;
    height: 9vh;
    width: 5vw;
    font-size: 0.7em;
}

button.buttons2:hover {
    background-color: orangered;
}

.border {
    border-color: red;
    border: 3px solid;
}
.page_none{
    display: none;
}

.help{
    margin-left: 15%;
}
.piano_box{
    max-width: 70vw;
}
#select_p span, #select_m span{
    float: left;
}
.sidebar h3{
    font-size: 2vh;
}